

<h1>Profile page of: <%= @other.email %></h1>

<img src="<%= @other.image %>" alt=""><br />

<code>email: <%= @other.email %></code><br />
<code>user_id: <%= @other.id %></code><br />
<code>post counts: <%= @other.posts.count %></code><br />
<code>comments: <%= @other.comments.count %></code><br />
<code>join_date: <%= @other.created_at %></code><br />

<small>#Blog Posts: <%= link_to "Click", :controller => "users", :action => "show", :id => @other.id %> </small>