
<div class="profiles">
	<h1>Profile page of: <%= @other.email %></h1>

	<%if (@other.image != nil) %>
		<img src="<%= @other.image %>" alt="">
	<% else %>
		<%= image_tag "nodisp.jpg" %>
	<% end %>

	<br /><br />

	<p>name: <%= @other.name %></p>
	<p>email: <%= @other.email %></p>
	<p>post counts: <%= @other.posts.count %></p>
	<p>comments: <%= @other.comments.count %></p>
	<p>join_date: <%= @other.created_at %></p>

	<small>#Blog Posts: <%= link_to "Click", :controller => "users", :action => "show", :id => @other.id %> </small>

  	<% @v = 1 %>
  	<% Fellowship.all.each do |i| %>
  		<% if @other.id == i.fellow_id %>
  			<% @v = 0 %>
  		<% end %> 
  	<% end %>

    <div id="user">

      <% if (@v == 1) %>
        <%= @other.email %>
        <%= link_to "Add Fellow", fellowships_path(:fellow_id => @other.id), :method => :post %>
      <% else %>
  		<%= @other.email %>
      <% end %>

    </div>

</div>