
<div class="profiles">

	<h1>My Profile:</h1>

	<img src="<%= @user.image %>" alt=""><br /><br />

	<p>email: <%= @user.email %></p>
	<p>user_id: <%= @user.id %></p>
	<p>post counts: <%= @user.posts.count %></p> 
	<p>comments: <%= @user.comments.count %></p>
	<p>join_date: <%= @user.created_at %></p>

	<small>My #Blog Posts: <%= link_to "Click", :controller => "users", :action => "show", :id => @user.id %> </small>

</div>