<% if current_user %>
	<% @cu = current_user.id %>
<% else %>
	<% @cu = 0 %>
<% end %>


<h1><%= @user.email %> #Blog</h1>

<% if @cu == @user.id %>
	<div class="newpost"><%= link_to "Add a New Post", new_post_path %></div>
<% end %>

<h2 id="line1">~~~~</h2>


<% @posts.reverse.each do |post| %>
	<h2><%= link_to post.title, post %></h2>
	<p>By: <%= link_to @user.email, :controller => "users", :action => "others_profile", :id => @user.id %> </p>
	<p><%= auto_html(post.content){html_escape;youtube; image; link(:target => 'blank'); simple_format} %></p>

<!-- Display Edit and Delete if the current_user owns the post -->

<% if (@cu == @user.id) %>
	<p>
	   <%= link_to "Edit", edit_post_path(params[:id]) %>
	   <%= " | " %>
	   <%= link_to "Delete", params[:post_id], :confirm => "Are you sure?", 
	   :method => :delete %>
	</p>
<% else %>
	<p>
		<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
	</p>
<% end %>	
	
	<h2 id="line1">~~~~</h2>
<% end %>
