<h1>Feeds of My Fellows</h1>

<!-- ********************* Each Post ********************* -->

<% @posts.reverse.each do |post| %>

	<% @v = 0 %>
  	<% Fellowship.all.each do |i| %>
  		<% if (post.user_id == i.fellow_id) && (current_user.id == i.user_id) %>
  			<% @v = 1 %>
  		<% end %> 
  	<% end %>

  	<% if (@v == 1) %>	

		<h2><%= link_to post.title, post %></h2>

		<p>
			<% if User.find(post.user_id).image != nil %>
				<img src="<%= User.find(post.user_id).image %>" alt=""><br />
			<% else %>
				<%= image_tag "nodisp.jpg" %><br />
			<% end %>

			By: <%= link_to User.find(post.user_id).name, :controller => "users", :action => "others_profile", :id => User.find(post.user_id).id %> 
		</p>


		<p><%= auto_html(post.content){html_escape;youtube; image; link(:target => 'blank'); simple_format} %></p>
		<p>Comment: <%= post.comments.count %> | <%= link_to "Reply", post %></p>
		<% if post.user_id == current_user.id %>
		<p>
		   <%= link_to "Edit", edit_post_path(post) %>
		   <%= "  " %>
		   <%= link_to "Delete", post, :confirm => "Are you sure?", 
		   :method => :delete %>
		</p>
		<% end %>
		<h2 id="line1">~~~~</h2>

	<% end %>
<% end %>

<!-- Here shows either if logged in or not -->