<h1>The #BLoG Home Feeds</h1>

<!-- ********************* Each Post ********************* -->

<% @posts.reverse.each do |post| %>
	<% p = post.id.to_s + '. ' + post.title.to_s %>
	<h2><%= link_to post.title, post %></h2>

	<p>
		<% if User.find(post.user_id).image != nil %>
			<img src="<%= User.find(post.user_id).image %>" alt=""><br />
		<% else %>
			<%= image_tag "nodisp.jpg" %><br />
		<% end %>

		By: <%= link_to User.find(post.user_id).email, :controller => "users", :action => "others_profile", :id => User.find(post.user_id).id %> 
	</p>


	<p><%= simple_format(post.content) %></p>
	<p>Comment: <%= post.comments.count %> | <%= link_to "Reply", post %></p>
	<% if post.user_id == current_user.id %>
	<p>
	   <%= link_to "Edit", edit_post_path(post) %>
	   <%= "  " %>
	   <%= link_to "Delete", post, :confirm => "Are you sure?", 
	   :method => :delete %>
	</p>
	<% end %>
	<h2 id="line1">~~~~</h2>
<% end %>

<p> <!-- Here shows either if logged in or not -->
	<% if current_user %>
		<%= link_to "Add a New Post", new_post_path %>
	<% else %>
		<p><code>
			Welcome to the #BLoG !

			My First project on Learning Ruby On Rails.<br/ >
			Most codes are hand-written.<br />
			Resources: railstutorialByMichaelHartl, StackOverFlow.com, a bit of annoyed Opal's answers<br />
			Since I'm working hard on project, now I just need to chat with someone....myself...
		</code></p>
		
		<div class="fb-comments" data-href="http://the-blog.herokuapp.com" data-width="470" data-num-posts="2" data-colorscheme="dark"></div>
		
		Git Hub at: <a href="https://github.com/nixor/cpblog">Here!</a>
			
		<p>Welcome Suggestions, Cheers.</p>
		<code>~nixor</code><br /><br />

 		<div class="fb-like" data-href="http://the-blog.herokuapp.com" data-send="true" data-width="450" data-show-faces="true" data-font="lucida grande" data-colorscheme="dark"></div>

 		<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>

	<% end %>
</p>