<!-- Display current post -->

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<small><%= @post.created_at %></small>
<small>post_id: <%= @post.id %></small>
<small>Posted by: <%= User.find(@post.user_id).email %> </small>


<!--  If the current user is the owner of the post    -->
<% if current_user %>
	<% @cu = current_user.id %>
<% else %>
	<% @cu = 0 %>
<% end %>


<% if (@cu == @post.user_id) %>
	<p>
	   <%= link_to "Edit", edit_post_path(params[:id]) %>
	   <%= "  " %>
	   <%= link_to "Delete", params[:post_id], :confirm => "Are you sure?", 
	   :method => :delete %>
	</p>
<% else %>
	<p>
		Like?
	</p>
<% end %>

<!-- Displays Comments -->

<hr /><hr />
<h1>COMMENTS BELOW</h1>
<% @comments.each do |comment| %>
	<% c = '. comment ID: ' + comment.id.to_s %>
	<p>By: <%= User.find(comment.user_id).email %></p>
	<p><%= comment.content %></p>
	
	<!-- EDIT AND DELETE COMMENT Buttons here -->
	<br /><br />
<% end %>


<h1>Add a new Comment</h1>

<%= form_for @comment do |f| %>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</p>
	<p>
		<%= f.hidden_field :user_id, :value => @cu %>
		<%= f.hidden_field :post_id, :value => @post.id %>
		<%= f.submit "Add a New Comment" %>
	</p>
<% end %>