<!-- Display current post -->

<h1 class="title"><%= @post.title %></h1>
<p class="paragraph"><%= auto_html(@post.content){youtube} %></p>
<br /><br />

<% if User.find(@post.user_id).image != nil %>
	<img src="<%= User.find(@post.user_id).image %>" alt=""><br />
<% else %>
	<%= image_tag "nodisp.jpg" %><br />
<% end %>


<small>Posted by: <%= link_to @user.email, :controller => "users", :action => "others_profile", :id => @user.id %> </small>
<small><%= @post.created_at %></small><br />
<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>


<!--  If the current user is the owner of the post    -->
<% if current_user %>
	<% @cu = current_user.id %>
<% else %>
	<% @cu = 0 %>
<% end %>


<% if (@cu == @post.user_id) %>
	<p>
	   <%= link_to "Edit", edit_post_path(params[:id]) %>
	   <%= "  " %>
	   <%= link_to "Delete", params[:post_id], :confirm => "Are you sure?", 
	   :method => :delete %>
	</p>
<% else %>
	<p>
		Like?
	</p>
<% end %>

<!-- Displays Comments -->

<h2 id="line1">~~ Comments ~~</h2>
<% @comments.each do |comment| %>

	<% if User.find(comment.user_id).image != nil %>
		<img src="<%= User.find(comment.user_id).image %>" alt=""><br />
	<% else %>
		<%= image_tag "nodisp.jpg" %><br />
	<% end %>
	<p>By: <%= link_to User.find(comment.user_id).email, :controller => "users", :action => "others_profile", :id => comment.user_id %> </p>
	<p class="paragraph"><%= auto_html(comment.content){youtube; link(:target => 'blank'); simple_format} %></p>
	
	<!-- EDIT AND DELETE COMMENT Buttons here -->
	<br /><br />
<% end %>


<h1>Add a new Comment</h1>

<%= form_for @comment do |f| %>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content, :size => "70x10" %>
	</p>
	<p>
		<%= f.hidden_field :user_id, :value => @cu %>
		<%= f.hidden_field :post_id, :value => @post.id %>
		<%= f.submit "Add a New Comment" %>
	</p>
<% end %>