<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="header">
<div id="user_nav">
	Current Time: <%= Time.new.inspect %>
	<%= link_to "Home",  root_url %>
	<%= link_to "Profile", nil %>
	<% if current_user %>
		<hr />
		Logged in as <%= current_user.email %>
		<%= link_to "Log out", log_out_path %>
	<% else %>
		<%= link_to "Sign up", sign_up_path %>
		<%= link_to "Log in", log_in_path %>
	<% end %>
</div>
</section>

<hr />

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>

<%= yield %>

<section id="footer">
	<div id="display_users">
		<p>List of all users: <%= all_users %></p>
	</div>
	<div id="display_posts">
		<p>List of all post IDs: <%= all_posts %></p>
	</div>
</section>

</body>
</html>
