<!DOCTYPE html>
<html>
<head>
  <title>The #BLoG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		
		<div id="headnav">
			<p>The #BLoG</p>
		</div>

       <iframe src="https://www.facebook.com/plugins/like.php?href=the-blog.herokuapp.com"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

        

		<div id="user_nav">
		  <% if current_user %>
		    Signed in as <strong><%= current_user.name %></strong>!
		    <%= link_to "Sign out", signout_path, id: "sign_out" %>
		  <% else %>
		    <%= link_to "Sign in with Facebook", "/auth/facebook/", id: "sign_in" %>
		  <% end %>
		</div>


		
	</div>

	<div id="center" class="column">
		<%= yield %>
	</div>

<!-- ******************* Left Navigation Bar ******************* -->

	<div id="left" class="column">

		<% if current_user %>
			<p id="leftnav">Logged in as <%= current_user.email %></p>
			<div id="leftnav"><%= link_to "Home",  root_url %></div><br />
			<div id="leftnav"><%= link_to "Profile", profile_url %></div><br />		
			<div id="leftnav"><%= link_to "Log out", log_out_path %></div><br />
			<% else %>
			<div id="leftnav"><%= link_to "Home",  root_url %></div><br />
			<div id="leftnav"><%= link_to "Profile", root_url %></div><br />
			<div id="leftnav"><%= link_to "Sign up", sign_up_path %></div><br />
			<div id="leftnav"><%= link_to "Log in", log_in_path %></div><br />

		<% end %>

		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash#{name}", :class => "leftnav" %>
		<% end %>
		

	</div>
<!-- *************** Right Navigation bar **************************-->

	<div id="right" class="column">
		<div id="line1">Recent Posts: </div>
		<div id="recentPosts">
			<% Post.last(7).reverse.each do |e| %>
  				<hr />
  				<code>
   					<%= link_to e.title, :controller => "posts", :action => "show", :id => e.id %>   				
 				</code>
  			<% end %>
		</div>
		
	</div>

	<div id="footer">
		<div id="display_users">
			<code>List of all Users: </code>
				<% User.all.each do |e| %>
  			<code>
   				[<%= link_to e.email, :controller => "users", :action => "others_profile", :id => e.id %>]   				
 			</code>
  				<% end %>
		</div>
		<div id="display_posts">
		
			<code>List of all post IDs: </code>
				<% Post.all.each do |e| %>
  			<code>
    			<%= link_to e.id, e%>
  			</code>
  				<% end %>
		</div>
	</div>

</body>
</html>
