<!DOCTYPE html>
<html>
<head>
  <title>The #BLoG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=183919201747476";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- ******************* Header ******************* -->

	<div id="header">
		
		<div id="headnav">
			<p>The #BLoG</p>
		</div>
        
		<div id="user_nav">

		  <% if current_user %>
		  	Logged in as <%= current_user.email %>
		  <% else %>
		    <%= link_to (image_tag "fblogin.gif"), "/auth/facebook/", id: "sign_in" %>
		  <% end %>
		</div>


		
	</div>

	<div id="center" class="column">
		<%= yield %>
	</div>

<!-- ******************* Left Navigation Bar ******************* -->

	<div id="left" class="column">

		<% if current_user %>
			<div id="leftnav"><%= link_to "Home",  root_url %></div><br />
			<div id="leftnav"><%= link_to "Profile", profile_url %></div><br />					
			<div id="leftnav"><%= link_to "Feeds", feed_url %></div><br />		
			<div id="leftnav"><%= link_to "Log out", log_out_path %></div><br />
			<% else %>
			<div id="leftnav"><%= link_to "Home",  root_url %></div><br />
			<div id="leftnav"><%= link_to "Profile", root_url %></div><br />
			<div id="leftnav"><%= link_to "Feeds", root_url %></div><br />
			<div id="leftnav"><%= link_to "Sign up", sign_up_path %></div><br />
			<div id="leftnav"><%= link_to "Log in", log_in_path %></div><br />
			<div id="leftnav"><%= link_to (image_tag "fblogin.gif"), "/auth/facebook/", id: "sign_in" %></div><br />

		<% end %>

		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash#{name}", :class => "leftnav" %>
		<% end %>
		

	</div>
<!-- *************** Right Navigation bar **************************-->

	<div id="right" class="column">
		<div id="line1">Recent Posts: </div>
		<div id="recentPosts">
			<% Post.last(10).reverse.each do |e| %>
  				<hr />
  				<code>
   					<%= link_to e.title, :controller => "posts", :action => "show", :id => e.id %>   				
 				</code>
  			<% end %>
		</div>
		
	</div>

<!-- ******************* Footer ******************* -->

	<div id="footer">

		<div id="display_users">
			<code>Recent registered users: </code>
				<% User.last(5).each do |e| %>
  			<code>
   				[<%= link_to e.email, :controller => "users", :action => "others_profile", :id => e.id %>]   				
 			</code>
  				<% end %>
		</div>

</body>
</html>
